<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGk_9HVK3mxpzySsNEk6XOIzZMWWiAH4M</string>
	<key>GCM_SENDER_ID</key>
	<string>557243413306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testedn1</string>
	<key>PROJECT_ID</key>
	<string>first-nugi</string>
	<key>STORAGE_BUCKET</key>
	<string>first-nugi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557243413306:ios:cab73b0bdc059218621603</string>
</dict>
</plist>